{% load static %}

<section class="container-fluid">
  <div class="row w-75 mx-auto servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex
            justify-content-start my-5 icono-wrap">
      <img src="{%  static 'img/reporte-de-ventas.png' %}" alt="Reportes"
           width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-5">REPORTES</h3>
        <p class="px-4">Podras Descargar Reportes De informacion requerida por tu area</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="{%  static 'img/La-Busqueda-de-Informacion.png' %}" alt="Reportes"
           width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-5">INFORMACION</h3>
        <p class="px-4">Podras Descargar Reportes De informacion requerida por tu area</p>
      </div>
    </div>
  </div>
   <div class="row w-75 mx-auto servicio-fila">
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="{%  static 'img/2709774.png' %}" alt="Reportes"
           width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-5">DATOS</h3>
        <p class="px-4">Podras Descargar Reportes De informacion requerida por tu area</p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
      <img src="{%  static 'img/barra-el-icono-infographic-de-las-estadísticas-79343984.jpg' %}" alt="Reportes"
           width="180" height="160">
      <div>
        <h3 class="fs-5 mt-4 px-4 pb-5">ESTADISTICAS</h3>
        <p class="px-4">Podras Descargar Reportes De informacion requerida por tu area</p>
      </div>
    </div>
  </div>
</section>