{% load static %}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="{% static 'img/LogoB.png' %}" class="d-block w-100" alt="LogoB">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'img/superpremium.jpg' %}" class="d-block w-100" alt="bus2">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="{% static 'img/bus3.jpg' %}" class="d-block w-100" alt="bus3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>